version: '2.4'

x-app: &app
  build:
    context: .
    dockerfile: ./Dockerfile
    args:
      RUBY_VERSION: '2.7.2'
      PG_MAJOR: '11'
      NODE_MAJOR: '12'
      YARN_VERSION: '1.13.0'
      BUNDLER_VERSION: '2.1.2'
  environment: &env
    NODE_ENV: development
    RAILS_ENV: ${RAILS_ENV:-development}
    YARN_CACHE_FOLDER: ${PWD}/node_modules/.yarn-cache
    BOOTSNAP_CACHE_DIR: /usr/local/bundle/_bootsnap
  working_dir: ${PWD}
  image: ruby-russia-dev:1.0.0
  tmpfs:
    - /tmp

x-backend: &backend
  <<: *app
  stdin_open: true
  tty: true
  volumes:
    - ../:${PWD}:cached
    - rails_cache:${PWD}/tmp/cache
    - bundle:/usr/local/bundle
    - node_modules:${PWD}/node_modules
    - packs:${PWD}/public/packs
    - packs-test:${PWD}/public/packs-test
    - ./.psqlrc:/root/.psqlrc:ro
    - ./.bashrc:/root/.bashrc:ro
    - ./.pryrc:/root/.pryrc:ro
  environment: &backend_environment
    <<: *env
    REDIS_URL: redis://redis:6379/
    DATABASE_URL: postgres://postgres:postgres@postgres:5432
    CHROME_URL: http://chrome:3333
    WEBPACKER_DEV_SERVER_HOST: webpacker
    WEB_CONCURRENCY: 1
    HISTFILE: ${PWD}/log/.bash_history
    PSQL_HISTFILE: ${PWD}/log/.psql_history
    EDITOR: vi
    LOG: ${LOG:-0}
    SHOW_IMAGES: ${SHOW_IMAGES:-0}
  depends_on: &backend_depends_on
    postgres:
      condition: service_healthy
    redis:
      condition: service_healthy

services:
  rails:
    <<: *backend
    command: bundle exec rails server -b 0.0.0.0
    ports:
      - '3000:3000'

  # Separate definition for system tests to add Chrome as a dependency
  rspec_system:
    <<: *backend
    ports:
      - '3000:3000'
      - '50051'
    depends_on:
      <<: *backend_depends_on
      chrome:
        condition: service_started

  postgres:
    image: postgres:11.1
    volumes:
      - ./.psqlrc:/root/.psqlrc:ro
      - postgres:/var/lib/postgresql/data
      - ../log:/root/log:cached
    environment:
      PSQL_HISTFILE: /root/log/.psql_history
    ports:
      - 5432
    healthcheck:
      test: pg_isready -U postgres -h 127.0.0.1
      interval: 5s

  redis:
    image: redis:5.0-alpine
    volumes:
      - redis:/data
    ports:
      - 6379
    healthcheck:
      test: redis-cli ping
      interval: 1s
      timeout: 3s
      retries: 30

  webpacker:
    <<: *app
    command: bundle exec ./bin/webpack-dev-server
    ports:
      - '3035:3035'
      - 3036
    volumes:
      - ../:${PWD}:cached
      - rails_cache:${PWD}/tmp/cache
      - bundle:/usr/local/bundle
      - node_modules:${PWD}/node_modules
      - packs:${PWD}/public/packs
      - packs-test:${PWD}/public/packs-test
    environment:
      <<: *env
      WEBPACKER_DEV_SERVER_HOST: 0.0.0.0

  chrome:
    image: browserless/chrome:1.31-chrome-stable
    ports:
      - '3333:3333'
    environment:
      PORT: 3333
      # Set connection timeout for debugging
      # https://docs.browserless.io/docs/docker.html#connection-timeout
      CONNECTION_TIMEOUT: 600000

volumes:
  postgres:
  redis:
  bundle:
  node_modules:
  rails_cache:
  packs:
  packs-test:
